.main-div {
  width: 100%;
  margin: 20px auto;
}

.groups-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.group {
  width: 45vw;
  height: 45vh;
  overflow: auto;
  display: inline-block;
  background: rgb(17, 75, 102);
  border-radius: 30px;
  position: relative;
}

.title {
  color: white;
  margin: 0;
  text-align: right;
  text-transform: uppercase;
  padding: 10px;
}

.item.current {
  background: bisque;
}

.area {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  border-radius: 5px;
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 0;
}

video {
  object-fit: cover;
  pointer-events: all;
}

.div-zone-1 .video-class {
  color: red;
  margin-left: 400px;
}
.div-zone-3 .video-class {
  color: red;
  margin-left: 400px;
}
@media screen and (max-width: 480px) {
  video {
    width: 100%;
    height: 251px;
  }
  .div-zone-1 .video-class {
    color: red;
    margin-left: 0px;
  }
  .div-zone-3 .video-class {
    color: red;
    margin-left: 0px;
  }
}
